@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');



body {
    position: relative;
    background-color: hsl(217, 54%, 11%);
    align-content: center;

    
}

section {

    border-radius: 0.7em;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    margin-left: 40%;
    width: 375px;
    height: 600px;
    
   

    .container {
        position: absolute;
        left: 9px;
        padding: 20px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300, 400, 600;
        

        .primary-img {
            border-radius: 0.7em;
            width: 315px;
            height: 330px;
            justify-content: center;
        }
    }

    h1 {
        color: white;
    }

    p {
        color: hsl(215, 51%, 70%);
        
    }

    .ethereum-img {
        white-space: nowrap;
        position: absolute;
        top: 86.9%;
        right: 0;
        bottom: 0;
        left: 5%;
    }

    .par-1 {
        color: hsl(178, 100%, 50%);
        float: left;
        position: absolute;
        top: 83.5%;
        right: 0;
        bottom: 0;
        left: 11%;
    }

    .clock-img {
        position: absolute;
        top: 87%;
        right: 0;
        bottom: 0;
        left: 61%;
    }

    .par-2 {
        position: relative;
        top: 91%;
        right: 0;
        bottom: 0;
        left: 70%;
        white-space: nowrap;

        .jj-j {
            position: absolute;
            top: 40;
        }

    }

    span {
        color: white;
    }



    .avatar-img {
        border: 0.1em; border-color: white; border-top-color: white;
        border-style: solid;
        border-radius: 1em;
        position: absolute;
        top: 97%;
        right: 0;
        bottom: 0;
        left: 4%;
    }

.hola-lo {
    position: absolute;
        top: 95%;
        right: 0%;
        bottom: 0;
        left: 19%;
        white-space: nowrap;

}


}



